<div class="footers">
    <div class="tops">
        <div>
            <p class="titeles">ABOUT</p>
            <p class="p">Contact Us</p>
            <p class="p">About Us</p>
            <p class="p">Careers</p>
            <p class="p">Flipkart Stories</p>
            <p class="p">Press</p>
            <p class="p">Flipkart Wholesale</p>
            <p class="p">Corporate Information</p>
        </div>
        <div>
            <p class="titeles">HELP</p>
            <p class="p">Payment</p>
            <p class="p">Shipping</p>
            <p class="p">Cancellation & Returns</p>
            <p class="p">FAQ</p>
            <p class="p">Report Infringement</p>
        </div>
        <div>
            <p class="titeles">CONSUMER POLICY</p>
            <p class="p">Return Policy</p>
            <p class="p">Terms of Use</p>
            <p class="p">Security</p>
            <p class="p">Privacy</p>
            <p class="p">Sitemap</p>
            <p class="p">Grievance Redressal </p>
            <p class="p">EPR Compliance</p>
        </div>
        <div>
            <p class="titeles">SOCIAL</p>
            <p class="p">Facebook</p>
            <p class="p">Twitter</p>
            <p class="p">YouTube</p>
        </div>
        <div class="mail">
            <div class="M-top" class="titeles">
                Mail us:
            </div>
            <div class="M-bottom">
                <p class="p">Flipkart Internet Private Limited</p>
                <p class="p">Building Alyssa, Begonia &</p>
                <p class="p">Clove Embassy Tech Village,</p>
                <p class="p">Outer Ring Road,Devarabeesanahaill village</p>
                <p class="p">Bengaluru,560103</p>
                <p class="p">Karnataka,India</p>
            </div>
        </div>
        <div>
            <p class="titeles">Registered Office Address</p>
            <p class="p">Flipkart Internet Private Limited,</p>
            <p class="p">Buildings Alyssa, Begonia &</p>
            <p class="p">Clove Embassy Tech Village,</p>
            <p class="p">Outer Ring Road, Devarabeesanahalli Village,</p>
            <p class="p">Bengaluru, 560103,</p>
            <p class="p">Karnataka, India</p>
            <p class="p">CIN : U51109KA2012PTC066107</p>
            <p class="p">Telephone: 044-45614700</p>
        </div>
    </div>
    <div class="bottom">
        <div>
            <img src="../../assets/download1.svg" alt="">
            <p class="p">Become a Seller</p>
        </div>
        <div>
            <img src="../../assets/download2.svg" alt="">
            <p class="p">Advertise</p>
        </div>
        <div>
            <img src="../../assets/download3.svg" alt="">
            <p class="p">Gift Cards</p>
        </div>
        <div>
            <img src="../../assets/download4.svg" alt="">
            <p class="p">Help Center</p>
        </div>
        <div>
            &#169;2007-2023 Flipkart.com
        </div>
        <div class="payment">
            <img src="../../assets/p1.svg" alt="">
        </div>
    </div>
</div>