<ul>
    <li>
        <img src="../../../assets/h1.png" alt="">
        <p>Grocery</p>
    </li>
    <li>
        <img src="../../../assets/h2.png" alt="">
        <p>Mobiles</p>
    </li>
    <li>
        <img src="../../../assets/h3.webp" alt="">
        <p>Fashion</p>
    </li>
    <li>
        <img src="../../../assets/h4.webp" alt="">
        <p>Electronics</p>
    </li>
    <li>
        <img src="../../../assets/h5.webp" alt="">
        <P>Home & Furniture</P>
    </li>
    <li>
        <img src="../../../assets/h6.webp" alt="">
        <p>Appliances</p>
    </li>
    <li>
        <img src="../../../assets/h7.png" alt="">
        <p>Travel</p>
    </li>
    <li>
        <img src="../../../assets/h8.webp" alt="">
        <p>Top Offers</p>
    </li>
    <li>
        <img src="../../../assets/h9.webp" alt="">
        <p>Beauty,Toy & More</p>
    </li>
    <li>
        <img src="../../../assets/h10.webp" alt="">
        <p>Two Wheelers</p>
    </li>
</ul>