<ul >
    
    <li>
        <mat-icon>account_circle</mat-icon>
        <p routerLink="users">My Profile</p>
    </li>
    <li>
        <mat-icon> add </mat-icon>
        <p>Flipkart plus zone</p>
    </li>
    <li>
        <mat-icon> unarchive </mat-icon>
        <p>Orders</p>
    </li>
    <li>
        <mat-icon> favorite </mat-icon>
        <p>Wishlist</p>
    </li>
    <li>
        <mat-icon> local_activity </mat-icon>
        <p>Rewards</p>
    </li>
    <li>
        <mat-icon> account_balance_wallet </mat-icon>
        <p>Gift Cards</p>
    </li>
    <li>
        <mat-icon>notifications</mat-icon>
        <p>Notification</p>
    </li>
    <li (click)="logOut()">
        <mat-icon>power_settings_new</mat-icon>
        <p>Log Out</p>
    </li>
</ul>